[DEFAULT]
[agent]
[linux_bridge]
physical_interface_mappings = provider:__1ST_IFACE__
[securitygroup]
enable_security_group = true
firewall_driver = neutron.agent.linux.iptables_firewall.IptablesFirewallDriver
[vxlan]
enable_vxlan = true
local_ip = __2ND_IP__
l2_population = true
udp_dstport = 4789
